<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h1>contact here</h1>
            </div>
            <div id="map" class="col-lg-7">

            </div>

        </div>
    </div>


</div>

<div class="row translate mb-2">
    <div style="text-align: center">
        <div id="google_translate_element"></div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer-partial"></footer>


<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>

