<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>
    <div class="container">
        <div class="row p-4" style="background-color: #4aa0b5">
            <div class="contact text-light col-lg-5 p-4">
                <h3 class="text-center mb-2 font-weight-bold">Contact us today!</h3>
                <p class="text-center font-weight-bold">Discovery Playhouse</p>
                <p class="text-center">600 Navarro St. #35</p>
                <p class="text-center">San Antonio, TX 78205</p>
                <p class="text-center">(210) 802-7289</p>
                <p class="text-center">jgomez.satx@gmail.com</p>
                <br/>
                <p class="text-center font-weight-bold">Hours of operation:</p>
                <p class="text-center">Monday - Friday  / 6:30am - 6:00 pm</p>
                <p class="text-center font-weight-bold">Age groups:</p>
                <p class="text-center">6 weeks to 3 years old</p>

            </div>
            <div id="map" class="col-lg-7">

            </div>

        </div>
    </div>
    <div class="row translate my-2 justify-content-center">
        <div id="google_translate_element"></div>
    </div>

</div>


<footer th:replace="fragments/footer :: footer-fixed"></footer>


<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>

