<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
    <div class="container">
        <nav th:replace="fragments/navbar :: navbar-partial"></nav>
        <div class="card-deck gallery-deck mb-2">
            <card class="card">
                <img src="./img/bubbles.jpeg" class="img-fluid galleryPics" alt="" />
            </card>

            <card class="card">
                <img src="./img/swing.jpg" class="img-fluid galleryPics" alt="" />
            </card>

            <card class="card">
                <img src="./img/toybox.jpeg" class="img-fluid galleryPics" alt="" />
            </card>
        </div>

        <div class="card-deck gallery-deck mb-2">
            <card class="card">
                <img src="./img/easter.jpeg" class="img-fluid galleryPics" alt="" />
            </card>

            <card class="card">
                <img src="./img/huddle.jpeg" class="img-fluid galleryPics" alt="" />
            </card>

            <card class="card">
                <img src="./img/IMG_9918.JPG" class="img-fluid galleryPics" alt="" />
            </card>
        </div>

        <div class="card-deck gallery-deck mb-2">
            <card class="card">
                <img src="./img/kid_with_crayons.jpeg" class="img-fluid galleryPics" alt="" />
            </card>

            <card class="card">
                <img src="./img/painting.jpeg" class="img-fluid galleryPics" alt="" />
            </card>

            <card class="card">
                <img src="./img/playing_soccer.jpeg" class="img-fluid galleryPics" alt="" />
            </card>
        </div>
    <footer th:replace="fragments/footer :: footer-partial"></footer>
    </div>

    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>