<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
    <div class="container">
        <nav th:replace="fragments/navbar :: navbar-partial"></nav>

        <div class="about_us_text p-4" style="background-color: #4aa0b5">
            <div class="row mb-2">
                <h3 class="text-white">Tuition and Fees</h3>
            </div>
            <hr/>
            <div class="row tuition text-light mb-2 p-4">
                <div class="col-lg-6">
                    <h3>Weekly Rates:</h3>
                    <p>Infants:     $150</p>
                    <p>Toddlers:    $140</p>
                    <p>Two's:       $135</p>
                    <p>Three's:     $130</p>
                </div>
                <div class="col-lg-6">
                    <h3>Other fees:</h3>
                    <p>Registration fee:    $125</p>
                    <p>Annual suppy fee:    $50</p>
                    <p>Wait List fee:       $50</p>
                </div>
            </div>

            <div class="row text-white mb-2" style="background-color: #6eb572">
                <p>*Registration fees are non-refundable.</p>
            </div>
            <div class="row text-white mb-2" style="background-color: #6eb572">
                <p>*Additional children in the same family are given a 10% discount off the lessor of the tuition rates.</p>
            </div>
        </div>

        <div class="row translate my-2 justify-content-center">
            <div id="google_translate_element"></div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer-fixed"></footer>


    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>