<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
    <div class="container">
        <nav th:replace="fragments/navbar :: navbar-partial"></nav>
        <div class="bg-info p-4 rounded">
            <div class="embed-responsive staffPage mb-3 p-2 rounded">
                <img src="/img/daycare_staff.jpeg" alt="cape" class="daycare_staff img-fluid rounded" />
            </div>
            <!--Staff card deck-->
            <div class="card-deck">
                <div class="card mb-3 p-2 rounded" style="width: 18rem; background-color: #f6e5a4">
                    <img class="card-img-top rounded" src="/img/johannaGomez3.jpeg" alt="Card image cap" />
                    <div class="card-body">
                        <p class="card-text text-center">Johanna Gomez</p>
                    </div>
                </div>
                <div class="card mb-3 p-2 rounded" style="width: 18rem; background-color: #6794c0">
                    <img class="card-img-top" src="..." alt="Card image cap" />
                    <div class="card-body">
                        <p class="card-text text-center">Terry Hale</p>
                    </div>
                </div>
            </div>
            <!--/Staff card deck-->

        </div>
        <div class="row translate my-2 justify-content-center">
            <div id="google_translate_element"></div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer-partial"></footer>
    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>