<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
    <div class="container">
        <nav th:replace="fragments/navbar :: navbar-partial"></nav>
        <div class="bg-light p-4">
            <div class="embed-responsive staffPage mb-3">
                <img src="/img/daycare_staff.jpeg" alt="cape" class="daycare_staff img-fluid rounded" />
            </div>
            <!--Staff card deck-->
            <div class="card-deck">
                <div class="card mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="/img/johannaGomez3.jpeg" alt="Card image cap" />
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap" />
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="/img/TonyWestbrook4.jpeg" alt="Card image cap" />
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <!--/Staff card deck-->

        </div>
        <div class="row translate my-2 justify-content-center">
            <div id="google_translate_element"></div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer-partial"></footer>
    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>