<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
    <div class="container">
        <nav th:replace="fragments/navbar :: navbar-partial"></nav>
        <h1>Our Staff</h1>
        <p>More text here</p>
        <div class="content-area">
            <div class="row staffPage mb-3">
                <img src="/img/play.jpeg" alt="cape" class="img-fluid" />
            </div>
            <!--Staff card deck-->
            <div class="card-deck">
                <div class="card mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap" />
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap" />
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <div class="card mb-3" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap" />
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <!--/Staff card deck-->
        </div>
        <footer th:replace="fragments/footer :: footer-partial"></footer>
    </div>
</body>
</html>