<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>


<!-- Navigation -->
<nav th:fragment="navbar-partial" class="navbar navbar-expand-lg bg-light mt-5 mb-3">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mainNavBar" id="navbarNavDropdown">
        <ul class="nav">
            <li class="nav-item user_welcome" sec:authorize="isAuthenticated()">
                <span>Welcome, <span th:text="${#authentication.principal.username}" /></span>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/home" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Home
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/aboutus">About us</a>
                    <a class="dropdown-item" href="/staff">Staff</a>
                    <a class="dropdown-item" href="/programs">Programs/Tuition and Fees</a>
                    <a class="dropdown-item" href="/gallery">Gallery</a>
                    <a class="dropdown-item" href="/contact">Contact</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Calendar</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link active" href="/user/sign-up">Register</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link active" href="/login">Login</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link active" href="/user/profile">View profile</a>
            </li>
            <li class="nav-item active">
                <form th:action="@{/logout}" th:method="post">
                    <button class="nav-link btn-link btn logout_btn">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>
