<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>

    <div class="content-area p-4">
    <form th:action="@{/teacher/edit}" method="post" th:object="${user}">
        <input type="hidden" th:field="*{id}" />
            <div class="justify-content-center">
                <input class="post-title" style="width: 100%;" th:field="*{first_name}" />
                <input th:field="*{last_name}"/>
                <input th:field="*{username}"/>
                <input type="hidden" th:field="*{password}"/>
                <input th:field="*{email}"/>
                <input th:field="*{phone}"/>
                <input th:field="*{gender}"/>
                <input type="hidden" th:field="*{employee}"/>
            </div>
            <div class="col-lg-3 mt-4" style="margin: 0 auto">
                <input type="submit" class="btn btn-warning btn-block" />
            </div>
    </form>
    </div>



</div>

</body>
</html>