<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>
    <fieldset class="enrollForm content-area p-2 text-white rounded">
    <h2 class="mb-4">Enrollment Form</h2>
        <form th:action="@{/parent/enroll}" method="POST" th:object="${child}">
           <!--Child row-->
            <div class="form-row mb-4">
                <div class="col-lg-3">
                    <h4><label for="first_name">Child's First Name</label></h4>
                    <input type="text" id="first_name" th:field="*{first_name}" class="form-control" />
                    <p style="color: red" th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}"></p>
                </div>

                <div class="col-lg-3 ml-2">
                    <h4><label for="last_name">Child's Last Name</label></h4>
                    <input type="text" id="last_name" th:field="*{last_name}" class="form-control" />
                    <p style="color: red" th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}"></p>
                </div>

                <div class="col-lg-1 ml-4">
                    <div class="form-check mt-4">
                        <input class="form-check-input" type="radio" name="gender" th:field="*{gender}" id="male" value="male" />
                        <h4><label class="form-check-label" for="male">Male</label></h4>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" th:field="*{gender}" id="female" value="female" />
                        <h4><label class="form-check-label" for="female">Female</label></h4>
                    </div>
                </div>

                <div class="col-lg-2 ml-5">
                    <div class="form-group">
                        <h4><label class="control-label" for="date">Date of Birth</label></h4>
                        <input class="form-control" id="date" name="date" th:field="*{dob}" placeholder="MM/DD/YYY" type="date" />
                        <p style="color: red" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></p>
                    </div>
                </div>
            </div>


            <div class="offset-lg-9 col-lg-3 mb-2">
                <input class="btn btn-warning btn-block" value="Enroll your child!" type="submit" />
            </div>
        </form>
    </fieldset>
</div>

</body>
</html>