<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>
    <h1>My kids</h1>

    <div class="post-preview" th:each="child : ${children}">
            <div class="embed-responsive content-area mb-2 p-4 rounded edit_delete_row">
                <div class="row mb-2">
                    <h3 class="text-white"><strong><span th:text="${child.first_name}"></span></strong></h3>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-warning btn-block" th:href="${'/parent/kid/'+child.id+'/reportcard_by_kid'}">View report card</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-warning btn-block edit_btn" th:href="${'/parent/kid/'+child.id+'/edit'}">Edit</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-danger btn-block delete_btn" th:href="${'/parent/kid/'+child.id+'/delete'}">Delete</a>
                    </div>
                </div>
            </div>
    </div>



    <div class="clearfix">
        <a class="btn btn-primary float-right mt-3" href="/user/parent">Back to profile &rarr;</a>
    </div>

</div>

</body>
</html>