<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>
    <h1>Showing all the kids</h1>

    <div class="post-preview" th:each="child : ${children}">

        <span th:text="${child.first_name}"></span>
        <div class="row edit_delete_row">
            <div class="col">
                <a class="btn btn-warning btn-block" th:href="${'/parent/kid/'+child.id+'/reportcard_by_kid/' +user.id}'">View report card</a>
            </div>
            <div class="col">
                <a class="btn btn-warning btn-block edit_btn" th:href="${'/parent/kid/'+child.id+'/edit'}">Edit</a>
            </div>
            <div class="col">
            </div>
            <div class="col">
                <a class="btn btn-danger btn-block delete_btn" th:href="${'/parent/kid'+child.id+'/delete'}">Delete</a>
            </div>
        </div>

    </div>



    <div class="clearfix">
        <a class="btn btn-primary float-right" href="/user/parent">Back to profile &rarr;</a>
    </div>

</div>

</body>
</html>