<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>
    <div class="container">
        <fieldset class="loginForm bg-light p-2 rounded">
            <form th:action="@{/login}" method="post">
                <div class="row mb-2">
                    <div class="col-lg-12">
                        <h3>Log In</h3>

                        <div th:if="${param.error}" class="invalid">
                            Invalid Username and Password.
                        </div>
                        <div th:if="${param.logout}">
                            You have been logged out.
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-3">
                        <label for="username">Username</label>
                    </div>
                    <div class="col-lg-9">
                        <input class="inputbox" id="username" name="username" type="text" />
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-3">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-lg-9">
                        <input class="inputbox" id="password" name="password" type="password" />
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-3" style="margin: 0 auto">
                        <input type="submit"  value="Log in!" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>

<div class="row translate mb-2">
    <div style="text-align: center">
        <div id="google_translate_element"></div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer-partial"></footer>
</body>
</html>