<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>

    <div class="content-area p-4">
    <h2 class="text-white">Notifications to Users</h2>

    <fieldset class="registerForm p-2 mb-5 rounded text-white">
        <form th:action="@{/user/sendSMS}" method="POST" th:object="${notification}">
            <div class="mb-2">
                <h4><label for="notification">Input your notification:</label></h4>
                <input id="notification" name="body" th:field="*{body}"/>
            </div>


            <div class="offset-lg-9 col-lg-3 mt-4">
                <input class="btn btn-warning btn-block" value="Send notification!" type="submit" />
            </div>
        </form>
    </fieldset>
    </div>
    <div class="row translate my-2 justify-content-center">
        <div id="google_translate_element"></div>
    </div>
    <footer th:replace="fragments/footer :: footer-partial"></footer>
</div>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>