<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>

    <h1>PARENT profile view here</h1>
    <h1 th:text="${user.first_name}"></h1>
    <h1 th:text="${user.last_name}"></h1>
    <h1 th:text="${user.username}"></h1>
    <h1 th:text="${user.email}"></h1>
    <h1 th:text="${user.phone}"></h1>
    <h1 th:text="${user.gender}"></h1>

    <a class="btn btn-warning btn-block" th:href="${'/parent/'+user.id+'/edit'}">Edit profile</a>
    <a class="btn btn-warning btn-block" href="/parent/enroll">Enroll</a>
    <a class="btn btn-warning btn-block">View report card</a>
    <a class="btn btn-warning btn-block">Calendar</a>
    <a class="btn btn-warning btn-block" href="/parent/children">Show all my kids</a>




</div>

</body>
</html>