<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>

    <h1>PARENT profile view here</h1>
    <!--<a class="btn btn-warning btn-block edit_btn" th:href="${'/posts/'+post.id+'/edit'}">Enroll</a>-->
    <a class="btn btn-warning btn-block" href="/parent/enroll">Enroll</a>
    <a class="btn btn-warning btn-block">View report card</a>
    <a class="btn btn-warning btn-block">Calendar</a>
    <a class="btn btn-warning btn-block" href="">Show all my kids</a>





</div>
</body>
</html>