<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>
    <h1>A day in the life of your preschooler</h1>

    <div class="reportcard-view" th:each="report_card : ${report_cards}">
        <div class="mb-3 p-4 bg-light rounded">
            <div class="row">
                <div class="col">
                    <div>Student ID:</div>
                    <p th:text="${child.id}"></p>
                </div>
                <div class="col">
                    <div>Date:</div>
                    <p th:text="${report_card.date}"></p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div>Meal:</div>
                    <p th:text="${report_card.meal}"></p>
                </div>
                <div class="col">
                    <div>How I ate:</div>
                    <p th:text="${report_card.how_ate}"></p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div>How I felt:</div>
                    <p th:text="${report_card.feeling}"></p>
                </div>
                <div class="col">
                    <div>How I slept:</div>
                    <p th:text="${report_card.sleep}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>Changes:</div>
                    <p th:text="${report_card.change}"></p>
                </div>
                <div class="col">
                    <div>What I need:</div>
                    <p th:text="${report_card.items_needed}"></p>
                </div>
            </div>
        </div>

    </div>


    <div class="clearfix">
        <a class="btn btn-primary float-right" href="/user/parent">Back to profile &rarr;</a>
    </div>

</div>

</body>
</html>