<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header"></head>
<body>

<h3><em>A Day in the Life of your Preschooler</em></h3>

<div class="container">
    <form th:action="@{/teacher/reportcard}" method="POST" th:object="${report_card}">

        <label for="feeling">Today I felt..</label>
        <select id="feeling" name="feeling">
            <option value="Blank"></option>
            <option value="happy">Happy</option>
            <option value="energetic">Energetic</option>
            <option value="engaged">Engaged</option>
            <option value="sleepy">Sleepy</option>
            <option value="sick">Sick</option>
            <option value="not myself">Not Myself</option>
        </select>

        <label for="sleep">Today I Slept..</label>
        <select id="sleep" name="sleep">
            <option value="NA"></option>
            <option value="very well">Very Well</option>
            <option value="soundly">Soundly</option>
            <option value="restless">Restless</option>
            <option value="did not sleep">Did not Sleep</option>
        </select>

        <label for="meal">Today I ate..</label>
        <select id="meal" name="meal">
            <option value="NA"></option>
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="snack">Snack</option>
        </select>

        <label for="ate"> I ate...</label>
        <select id="ate" name="ate">
            <option value="Blank"></option>
            <option value="all">All of my food</option>
            <option value="most">Most of my food</option>
            <option value="half">Half of my food</option>
            <option value="little">a Little bit of my food</option>
            <option value="none">None of my food</option>
        </select>


        <label for="change">#Diaper Changes</label>
        <select id="change" name="change">
            <option value="NA"></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            </select>

                <div class="form-group">
                    <label for="comments">Comments:</label>
                    <textarea class="form-control" rows="5" id="comments" placeholder="Comments.."></textarea>
                </div>

                <label for="items_needed">Items Needed:</label>
                <select id="items_needed" name="items_needed">
                    <option value="NA"></option>
                    <option value="diapers">Diapers</option>
                    <option value="wipes">Wipes</option>
                    <option value="formula">Formula</option>
                    <option value="sterile water">Sterile water</option>
                    <option value="change of clothes">Change of clothes</option>
                </select>

            <input value="Submit Report Card" type="submit" />

    </form>
</div>

</body>
</html>

