<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>

    <div class="reportcard-view" th:each="report_card : ${report_cards}">
        <div class="mb-3 p-4 content-area text-white rounded">
        <h2 class="mb-5">A Day in the Life of Your Preschooler</h2>
            <div class="row mb-4">
                <div class="col">
                    <h4>Student ID:<span class="ml-2" th:text="${child.id}"></span></h4>

                </div>
                <div class="col">
                    <h4>Date:<span class="ml-2" th:text="${report_card.date}"></span></h4>

                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <h4>Meal:<span class="ml-2" th:text="${report_card.meal}"></span></h4>

                </div>
                <div class="col">
                    <h4>How I ate:<span class="ml-2" th:text="${report_card.how_ate}"></span></h4>

                </div>
            </div>

            <div class="row mb-4">
                <div class="col">
                    <h4>How I felt:<span class="ml-2" th:text="${report_card.feeling}"></span></h4>

                </div>
                <div class="col">
                    <h4>How I slept:<span class="ml-2" th:text="${report_card.sleep}"></span></h4>

                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <h4>Changes:<span class="ml-2" th:text="${report_card.change}"></span></h4>

                </div>
                <div class="col">
                    <h4>What I need:<span class="ml-2" th:text="${report_card.items_needed}"></span></h4>

                </div>
            </div>
        </div>

    </div>


    <div class="clearfix">
        <a class="btn btn-primary float-right" href="/user/parent">Back to profile &rarr;</a>
    </div>

</div>

</body>
</html>