<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
    <div class="container">
        <nav th:replace="fragments/navbar :: navbar-partial"></nav>
        <div class="container">
            <fieldset class="registerForm bg-light p-2 mb-5 rounded">
                <form th:action="@{/user/sign-up}" method="POST" th:object="${user}">
                    <h4 class="display-1">Create an account</h4>
                    <div class="mb-2">
                        <label for="first_name">First Name: </label>
                        <input id="first_name" th:field="*{first_name}" />
                        <p style="color: red" th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}"></p>
                    </div>
                    <div class="mb-2">
                        <label for="last_name">Last Name: </label>
                        <input id="last_name" th:field="*{last_name}" />
                        <p style="color: red" th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}"></p>
                    </div>
                    <div class="mb-2">
                        <label for="username">Username</label>
                        <input id="username" th:field="*{username}" />
                        <p style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                    </div>
                    <div class="mb-2">
                        <label for="email">Email</label>
                        <input id="email" th:field="*{email}" />
                        <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    </div>
                    <div class="mb-2">
                        <label for="password">Password</label>
                        <input id="password" type="password" th:field="*{password}" />
                        <p style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    </div>
                    <div class="mb-2">
                        <label for="phone">phone</label>
                        <input id="phone" th:field="*{phone}" />
                        <p style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                    </div>


                    <div class="col-2 justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" th:field="*{gender}" id="male" value="male" />
                            <label class="form-check-label" for="male">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" th:field="*{gender}" id="female" value="female" />
                            <label class="form-check-label" for="female">
                                Female
                            </label>
                        </div>
                    </div>


                    <div class="mb-2">
                        <label>Employee</label>
                        <input type="checkbox" name="is_employee" />
                    </div>
                    <div class="mb-2">
                        <input value="Sign me up!" type="submit" />
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer-partial"></footer>


</body>
</html>