<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: header"></head>

<body>
<div class="container">
    <nav th:replace="fragments/navbar :: navbar-partial"></nav>

    <h1>TEACHER profile view here</h1>

    <div class="card-deck mx-3">
        <div class="card mb-3" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="./img/coloring.jpeg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">About Us</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
        <div class="card mb-3" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="./img/abc.jpeg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Programs</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
        <div class="card mb-3" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="./img/laptop.jpeg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Meet Our Staff</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
        <div class="card mb-3" style="width: 18rem;">
            <img class="card-img-top img-fluid" src="./img/drawing.jpeg" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </div>


</div>
</body>
</html>