body {
    background-image: url("/img/daycare_bgimage.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mainNavBar {
    background-color: aquamarine;
}

.content-area {
    background-color: aquamarine;
}
.carousel-inner {
    height: 500px;
    width: 1100px;
}