body {
    background-image: url("/img/daycare_bgimage.png");
}

.nav-link {
    color: #6794c0;
    font-weight: bold;
}

.content-area {
    background-color: #6794c0;
}
.carousel-inner {
    height: 500px;
    width: 1100px;
}